<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.jboss.tools.xform"
            name="%category.name">
      </category>
      <view
            category="org.jboss.tools.xform"
            class="org.jboss.tools.xform.View"
            id="org.jboss.tools.xform.view"
            name="%view.name">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="org.jboss.tools.xform.view"
               relationship="stack"
               relative="org.eclipse.ui.navigator.ProjectExplorer">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
