<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.jboss.tools.xform"
            name="%category.name">
      </category>
      <view
            category="org.jboss.tools.xform"
            class="org.jboss.tools.xform.View"
            id="org.jboss.tools.xform.view"
            name="%view.name">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="org.jboss.tools.xform.view"
               relationship="stack"
               relative="org.eclipse.ui.navigator.ProjectExplorer">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.menus.popup.any?after=additions">
         <command
               commandId="org.jboss.tools.xform.command"
               label="%command.label"
               tooltip="%command.tooltip">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.ui.handlers.CollapseAllHandler"
            id="org.jboss.tools.xform.command"
            name="%command.label">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.jboss.tools.xform.objectContribution"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.jboss.tools.xform.Action"
               id="org.jboss.tools.xform.action"
               label="%command.label">
         </action>
      </objectContribution>
   </extension>
</plugin>
